<!DOCTYPE html>
<html>
  <head>
    <title>DevBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-info is-medium">
    <div class="hero-head">
    <!--Navebar-->
      <nav class="navbar">
        <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="nvabarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="nvabarMenuHeroA" class:"navbar-menu">
          <div class="navbar-end">
            <%= link_to "Create Post", new_post_path, class: "navbar-item" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
            <%= link_to "Log In", new_user_session_path, class: "navbar-item" %>
          </div>
        </div>
      </div>
    </nav>
  </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <%= yield :page_title %>
        </h1>
      </div>
    </div>
  </section>
    <%= yield %>
    <footer class="footer">
    <div class="content has-text-centered">
      <span>
        <p><strong>DevBlog</strong> by Odell Purifoy</p>
      </span>
    </div>
  </footer>
</body>
</html>
